extends ../layout

block content
    h2 Authors
    a.g(href=`/books`) View Books
    a.f(href='/authors/add') Add New Author
    table
        thead
            tr
                th
                th
                th
                th
        tbody
            each author in authors
                tr
                    td.ti= author.firstname
                    td.au= author.lastname
                    td.pu= author.bookswritten
                    td
                        a.h(href=`/authors/profile/${author.id}`) View Author's Profile