body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.box {
  background-color: #6da0b2;
  width: 440px;
  height: 40px;
  text-align: center;
  border-radius: 10px;

}

.welcome {
  color: white;
  font-weight: bold;
  font-family: "Book Antiqua";
  padding-top: 5px;
  font-size: 25px;
}

.b {
  margin-top: 20px;
  background-color: #aecad3;
  width: 90px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
  padding-top: 10px;
}

.but {
  color: white;
  font-weight: bold ;

}

tr {
  width: 10px;
  height: 20px;
  border-radius: 2px;
  margin-left: -20px;
}

.d {
}

a {
  margin-right: 10px;
}

table {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 10px;
}

td {
  padding: 7px;
}

.g {
  background-color: #5b9fc9;
  color: white;
  font-weight: bold;
  padding: 7px;
  border-radius: 10px;
  text-decoration: none;
}

.f {
  background-color: #8eb660;
  color: white;
  font-weight: bold;
  padding: 7px;
  border-radius: 10px;
  text-decoration: none;
}

.h {
  background-color: #ead067;
  color: white;
  font-weight: bold;
  padding: 7px;
  border-radius: 10px;
  text-decoration: none;
  height: 100px;
}

.back {
  background-color: #7fc1d2;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
  height: 100px;
}