body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.box {
  background-color: #6da0b2;
  width: 440px;
  height: 40px;
  text-align: center;
  border-radius: 10px;

}

.welcome {
  color: white;
  font-weight: bold;
  font-family: "Book Antiqua";
  padding-top: 5px;
  font-size: 25px;
}

.b {
  margin-top: 20px;
  background-color: #aecad3;
  width: 90px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
  padding-top: 10px;
}

.but {
  color: white;
  font-weight: bold ;

}

tr {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px black;
}

a {
  margin-right: 10px;
}

table{
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 50px;
}

td{
  padding: 7px;
}

